@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --main-white: #FAFAFA;
    --main-light-gray: #ECECEC;
    --main-dark-gray: #5D5D5D;
    --main-black: #171717;
    --main-yellow: #FEF000;
    --main-cyan: #1BC86B;
    --main-pink: #EA6E80;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--main-white);
    font-family: 'Roboto', 'Open Sans', sans-serif, 'Poppins';
    font-size: 18px;
    overflow-x: hidden;
}

.grid-container {
    display: grid;
    grid-template: repeat(6, auto) / 1fr;
    grid-template-areas: "main-header" "main-aboutme" "main-contact" "main-work" "main-feedback" "main-footer";
}

/* HEADER styles ========= */
.header-container {
    grid-area: main-header;
    display: grid;
    grid-template: 3rem 500px / 30% 70%;
    grid-template-areas: "header-black header" "header-black header-photo";
    width: 100vw;
    -webkit-box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.8); 
    box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.8);
}
    header.header {
        background: var(--main-dark-gray);
        padding: .75rem;
        grid-area: header;
        font-size: 1.3rem;
    }
        .header-elements {
            text-align: center;
        }
            .header-elements a {
                color: var(--main-white);
                text-decoration: none;
                padding: .75rem;
                position: relative;
            }
                .header-elements a:before  {
                    content: "";
                    position: absolute;
                    width: calc(100% - 2rem);
                    height: 2px;
                    bottom: .75rem;
                    left: 1rem;
                    background: var(--main-yellow);
                    visibility: hidden;
                    transform: scaleX(0);
                    transition: .25s linear;
                }
                .header-elements a:hover:before, .header-elements a:focus:before {
                    visibility: visible;
                    transform: scaleX(1);
                }
    /* header BLACK space styles */
    .black {
        background: var(--main-black);
        grid-area: header-black;
        color: var(--main-white);
        display: grid;
        grid-template: 3rem 1fr / 1fr;
        position: relative;
    }
            .black-title h1 {
                font-size: 2rem;
                padding: .25rem 0;
                text-align: center;
            }
        .black-text {
            height: 100%;
            width: 100%;
        }
        .black-text h2 {
            width: 200%;
            font-size: 4rem;
            display: inline;
            position: absolute;
            margin: 25% 0 0 25%;
        }
        .title-tags {
            position: absolute;
            float: left;
            width: 700px;
            margin: 40% 0 0 25%;
        }
        .title-tags p {
            font-size: 1.5rem;
            display: inline-block;
            background-color: var(--main-yellow);
            color: var(--main-black);
            padding: 5px;
            font-weight: bold;
            margin-right: 10px;
        }
    /* header PHOTO styles */
    .img-container {
        grid-area: header-photo;
        height: 100%;
        background-image: url(../img/cristodcaBN.jpg);
        background-size: cover;
    }

/* ABOUT ME styles ========= */
.aboutme-container {
    grid-area: main-aboutme;
    display: grid;
    grid-template: 20% 80% / repeat(2, 50%);
    grid-template-areas: "aboutme-photo aboutme-title" "aboutme-photo aboutme-text";
    background-color: transparent;
    margin: 3rem 0;
}
    .aboutme-photo {
        grid-area: aboutme-photo;
        /* margin: 3rem 0; */
    }
        .aboutme-photo img {
            max-width: 80%;
            display: block;
            margin: auto;
        }
    .aboutme-title {
        grid-area: aboutme-title;
        /* display: ; */
        justify-content: center;
        align-content: center;
    }
        .aboutme-title h2 {
            background-color: var(--main-cyan);
            /* display: inline; */
            width: 220px;
            height: 80px;
            padding: 1rem 2rem;
            font-size: 2rem;
            font-weight: bold;
            color: var(--main-black);
        }
    .aboutme-text {
        grid-area: aboutme-text;
        padding: 2rem 4rem 2rem 2rem;
        font-size: 1.5rem;
        background: var(--main-light-gray);
    }
    .aboutme-text li {
        color: var(--main-dark-gray);
    }

/* CONTACT styles ========= */
.contact-container {
    grid-area: main-contact;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--main-dark-gray);
    -webkit-box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 16px 5px rgba(0,0,0,0.5);
}
    .contact-container h2 {
        align-self: center;
        color: var(--main-light-gray);
        margin-bottom: 15px;
    }
        .contact-container h2 span {
            text-decoration: underline;
        }
    .contact-container a {
        align-self: center;
        background-color: var(--main-pink);
        text-decoration: none;
        color: var(--main-black);
        padding: 1rem;
        font-weight: bold;
    }




    /* .header-elements a {
        color: var(--main-white);
        text-decoration: none;
        padding: .75rem;
        position: relative;
    }
        .header-elements a:before  {
            content: "";
            position: absolute;
            width: calc(100% - 2rem);
            height: 2px;
            bottom: .75rem;
            left: 1rem;
            background: var(--main-yellow);
            visibility: hidden;
            transform: scaleX(0);
            transition: .25s linear;
        }
        .header-elements a:hover:before, .header-elements a:focus:before {
            visibility: visible;
            transform: scaleX(1);
        } */

/* WORK styles ========= */
.work-container{
    grid-area: main-work;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    }
    .work-container h2 {
        align-self: center;
        background-color: var(--main-yellow);
        color: var(--main-black);
        padding: 1rem;
        font-size: 2rem;
    }
    .work-list {
        align-self: center;
        padding: 2rem;
    }
        .work-list ul {
            list-style: none;
            float: left;
            display: inline;
        }
            .work-list ul li {
                display: inline;
                margin: 0 5rem;
                font-size: 1.5rem;
                text-decoration: none;
                position: relative;
                cursor: pointer;
            }
            .work-list ul li:before  {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background: var(--main-yellow);
                visibility: hidden;
                transform: scaleX(0);
                transition: .25s linear;
            }
            .work-list ul li:hover:before, .work-list ul li:focus:before {
                visibility: visible;
                transform: scaleX(1);
            }
    .all-works-grid {
        align-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* justify-content: space-between; */
        grid-gap: 10px;
        width: 80%;
        height: 100vh;
    }
        .all-works-content {
            width: 100%;
            height: 100%;
            -webkit-box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.2); 
            box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.2);
        }

/* FEEDBACK styles ========= */
.feedback-container {
    grid-area: main-feedback;
    padding: 2rem 1rem;
    background-color: var(--main-light-gray);
    /* border: 1px solid red; */
    margin-top: 2rem;
    -webkit-box-shadow: 0px -3px 12px 0px rgba(0,0,0,0.2); 
    box-shadow: 0px -3px 12px 0px rgba(0,0,0,0.2);
    text-align: center;
}
    .feedback-container h2 {
        text-align: center;
        background-color: var(--main-yellow);
        color: var(--main-black);
        display: inline;
        padding: 1rem;
    }
    .feedback-grid {
        /* border: 1px solid green; */
        margin: 2rem 0;
        display: grid;
        width: 100vw;
        grid-template: 1fr / repeat(5, auto);
        grid-gap: 50px;
        justify-content: center;
    }
        .feedback-content {
            border: 1px solid lightslategray;
            border-radius: 5px;
            width: 500px;
            height: 300px;
        }

/* FOOTER styles ========= */
.footer-container {
    grid-area: main-footer;
    background-color: var(--main-black);
    color: var(--main-white);
    padding: 2rem;
    text-align: center;
}
    .footer-container a {
        text-decoration: none;
    }
    .footer-container a i{
        font-size: 2rem;
        margin: 5px;
        color: var(--main-white);
        /* text-align: center; */
    }